/**
 * Created by Admin on 17.09.2019.
 */

.THIS.slds-form-element{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.THIS .slds-form-element__label{
    font-size: large;
}

.THIS .btn-c1{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10%;
}